{% extends 'base.html' %}
{% block content %}
    <section class="login-page">
        <h2>Zmień hasło</h2>
        <form method="post" class="form-group">
        {% csrf_token %}
            <div class="form-group">
                <table class="form-group">
                {% for field in form %}
                    <div class="form-group">{{ field }}</div>
                {% endfor %}
                </table>
            </div>
        {{ form.errors }}
            <div style="font-size: 20px">{{ message }}</div>
            <div class="form-group form-group--buttons">
                <a href="{% url 'edit_profile' %}" class="btn btn--without-border">Edytuj dane</a>
                <button class="btn" type="submit">Zatwierdź zmiany</button>
            </div>
        </form>
    </section>
{% endblock %}